/* Product related styling */
img.product {
    height: auto;
    width: 300px;
    border: 5px solid black;
}

.item {
    margin-bottom: 50px;
    /* flex: 1 0 33%; */
}

.product-details {
    width: 300px;
}

.product-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.glaze-option {
    display: flex;
    height: 30px;
}

.pack-size-option {
    display: flex;
    height: 30px;
    margin-top: 10px;
}

.price-row {
    display: flex;
    height: 30px;
    margin-top: 20px;
}

/* radio-toolbar inspired by https://markheath.net/post/customize-radio-button-css */
.glazeSelection {
    width: 180px;
    height: 32px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: auto;
}
  
.radio-toolbar input[type="radio"] {
    opacity: 0;
    width: 5px;
}

.radio-toolbar label {
    display: inline-block;
    background-color: white;
    padding: 5px 5px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid black;
    width: 20px;
    text-align: center;
}

.radio-toolbar {
    justify-content: space-between;
    width: 190px;
    height: 32px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: auto;
}

.radio-toolbar label:hover {
    background-color: rgb(231, 231, 231);
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: rgb(214, 214, 214);
    border-color: black;
}

.price {
    font-family: sans-serif, Arial;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 0px;
    margin-right: auto;
}

.add-to-cart-button {
    color: black;
    font-weight: bolder;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin-right: 0px;
    margin-top: 10px;
    width: 180px;
    height: 40px;
}

/* Styling for when hovering over button */
.add-to-cart-button:hover {
    background-color: yellow;
    font-weight: bold;
}